/* HourlyForecast.css */

.hourly-forecast {
    margin-top: 20px;
    text-align: center;
  }
  
  .hourly-forecast h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .hourly-forecast ul {
    display: grid;
    background: rgba(255, 255, 255, 0.10);       
    backdrop-filter: blur(20px) saturate(150%);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 16px;
    padding: 15px;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 70px;
    list-style-type: none;
    text-align: center;
}

  .hourly-forecast ul h2 {
    position:absolute;
    font-family: 'arial';
    left: 50%;
    top:0%;
    transform: translatex(-50%);
    padding-bottom: 10px;
  }
  
  .hourly-forecast li {
    font-size: 30px;
    text-align: center;
    border: 0px solid #ccc;
    border-radius: 20px;
    padding: 90px;
    background-color: transparent;
}

  .hourly-forecast ul .time {
    position: relative;
    font-size: 140%;
    top: -60%;
  }

  .temp {
    font-size: 50px;
    font-weight: lighter;
  }
  
  .hourly-forecast li img {
    position: relative;
    width: 80%;
    left: 40%;
    top: 30%;
    margin-right: 10px;
    transform: translate(-50%, -50%)
  }
  
  .hourly-forecast strong {
    margin-right: 10px;
  }
  