/* HourlyForecast.css */

.hourly-forecast {
    margin-top: 20px;
    text-align: center;
  }
  
  .hourly-forecast h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .hourly-forecast ul {
    display: grid;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 10px 15px 5px rgb(0, 0, 0,.5);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    border-radius: 40px;
    padding: 100px;
    margin: 200px;
    margin-top: 50px;
    margin-bottom: 70px;
    list-style-type: none;
    text-align: center;
}
  
  .hourly-forecast li {
    font-size: 30px;
    text-align: center;
    border: 0px solid #ccc;
    border-radius: 20px;
    padding: 100px;
    background-color: transparent;
}

  .hourly-forecast ul .time {
    position: relative;
    font-size: 140%;
    top: -70%;
  }

  .temp {
    font-size: 50px;
  }
  
  .hourly-forecast li img {
    position: relative;
    width: 80%;
    left: 40%;
    top: 30%;
    margin-right: 10px;
    transform: translate(-50%, -50%)
  }
  
  .hourly-forecast strong {
    margin-right: 10px;
  }
  