

body {
    background-color: rgb(0, 162, 255);
    color: white;
}

.weather-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 50px;
}

form input {
    position: relative;
    width: 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    color: white;
}

.weather-form input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
  
  button:hover {
    background-color: #0056b3;
}


.weather-info {
    text-align: center;
    background-image: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.weather-info h2 {
    font-size: 70px;
    margin-bottom: 10px;
}

.weather-info p {
    margin-bottom: 2px;
    font-size: 40px;
}

.weather-info img


.weather-info:hover {
    text-align: left;
}





